.query {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 3em;
}
.query input {
  height: 55px;
  width: 100%;
  font-size: 30px;
  border-radius: 5px;
  background-color: rgb(226, 140, 65);
  color: rgb(24, 97, 31);
}
